@font-face {
    font-family: "Whitney";
    src: url("/whitney/Whitney\ SSm\ Book.ttf");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Whitney";
    src: url("/whitney/Whitney\ SSm\ Book.ttf");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Whitney";
    src:url("/whitney/Whitney\ Medium.ttf");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Whitney";
    src:url("/whitney/Whitney\ Semibold\ Regular.otf");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Ginto";
    src:url("/ginto/Ginto\ Nord\ Regular.woff2.ttf");
    font-weight: 600;
    font-style: normal;
  }