.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Whitney";
  src:url("/public/whitney/Whitney\ SSm\ Book.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src:url("/public/whitney/Whitney\ SSm\ Book.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src:url("/public/whitney/Whitney\ Medium.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src:url("/public/whitney/Whitney\ Semibold\ Regular.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ginto";
  src:url("/public/ginto/Ginto\ Nord\ Regular.woff2.ttf");
  font-weight: 600;
  font-style: normal;
}